# NOTE: this file is from the separate repo era and is NOT used (so probably outdated). TODO: delete?
---
defaults:
  run:
    shell: bash
concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: false
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-node@v3.3.0
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: package-lock.json
      - run: npm run lint
  test:
    needs:
      - lint
    runs-on: ubuntu-20.04
    env:
      SECRET_DB_SCHEMA: join-server-test
      SECRET_DB_USER: root
      SECRET_DB_PASSWORD: password
      SECRET_DB_HOST: localhost
      SECRET_DB_PORT: 3800
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-node@v3.3.0
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: package-lock.json
      - uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3800
          mysql version: '8.0'
          mysql database: 'join-server-test'
          mysql root password: 'password'
      - run: sleep 10 # need to allow some time for mysql to start up
      - run: mysql --user=root --password=password --host=127.0.0.1 --port=3800 < create_tables.sql
      - run: echo "./node_modules/.bin" >> $GITHUB_PATH
      - run: npm ci
      - run: npm test
